body {
	font-family: sans-serif;
	font-size: 12px;
	background-position:top center;
	background-repeat:no-repeat;
	background-size: 100% 500px;
	margin: 50px 0 50px;
}

button {
	
	
}

h2,h3 {
	text-align: center;
}
.select {
    display:flex;
    justify-content: center;
}
.listing .item {
	display:flex;
	flex-wrap:wrap;
    justify-content: center;
}

.listing .item > div {
	margin: 5px;
	text-align: center;
	box-sizing: border-box;
}


.buttonMenu {
	 align-self: flex-end;	
}

.listing .item > .date {
	width: 6em;
}
.listing .item > .price {
    width: 6em;
}
.listing .item > .assetChange {
    width: 6em;
}
.listing .item > .currencyChange {
    width: 6em;
}
.listing .item > .advice {
    width: 6em;
}
.listing .item > .earncost {
    width: 6em;
}
.listing .item > .relativepl {
    width: 6em;
}
.listing .item > .unrealizedpl {
    width: 6em;
}
.listing .item > .unrealizedplp {
    width: 6em;
}
.listing .item > .idx {
    width: 3em;
}
.listing .item > .actions {
    width: 5em;
}
.listing .item > .actions button {
    width: 100%;
}

label {
	display:block;
	position:relative;
    width: 250px;
    margin: 5px;
	line-height:25px;
	 vertical-align: middle;
}

label > input,label > select {
	display: block;
	float: right;
	width: 100px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	
}

label > select {
	width: 150px;
}

.strategyPanel >.content{
	display:flex;
	flex-wrap:wrap;
    justify-content: center;

}

.strategyPanel  button{
	display:block;
	width: 120px;
	margin-left: 50px;
	  
	  
}

.listing .tableHeader {
	border-bottom: 1px solid;
	font-weight: bold;
	
}
.listing .tableFooter {
    border-top: 1px solid;
    font-weight: bold;
    
}

.listing .item input.ingrid {
	width:100%;
	box-sizing: border-box;
	text-align: center;
}

.listing .chkbox label {
	display:inline;
	box-sizing: border-box;
	text-align: center;
}

.listing .chkbox input {
	display:inline;
	width:auto;
	float:none;	
}

.smallNote {
	margin-top: 20px;
	font-size: smaller;
	font-style: italic;
	text-align: center;
}

.newDoc .listing {
	display:none;
}

.newDoc .buttld {
	display:none;
}

.strategyPanel  .buttnw {
	display:none;
}

  .newDoc .strategyPanel .buttnw {
	display: block;
}

.negnumb {
	color: #800000;
}
.posnumb {
	color: #008000;
}
.questionmark {
	display: inline-block;
	color: white;
	font-size: 0.35cm;
	background-color: black;
	padding: 0px 2px;
	font-weight: bold;
	line-height: 1em;
	border-radius: 10px;
	position:relative;
	top: -0.5em;
	cursor: default;
}
.footer {
	position:fixed;
	bottom: 0;
	padding:10px;
	border-top: 1px solid;
	width: 100vw;
	text-align:center;
	background-color: #CCC;

}
.page-header {
	border-bottom: 1px solid;
	text-align: center;
	padding:10px;	
	position:fixed;
	top:0;
	width: 100vw;
	background-color: #CDE;
	font-weight:bold;
	font-size: 20px;
	color: #448
}

.support-page {
	position:fixed;
	background-color:#fff;
	width: 320px;
	top: 50%;
	left: 50%;
	margin-left:-170px;
	margin-top: -250px;
	border: 1px solid;
	border-radius: 10px;
	box-shadow: 10px 10px 50px #888;
	text-align:center;
	padding: 10px;
	transform: scale(1,1);
	transition: all 0.3s;
	opacity: 1;
}

.support-page iframe {
	border: 0;
	width: 100%;
	height: 490px;
}

.support-page.hid {
	transform: scale(0,0);
	opacity: 0;
	top: 100%
}

#loadSpinner {
text-align: center;
margin-top: 20vh;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #448;
  border-radius: 5px;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}



.chartSelector {
	margin-top: 2em;
	text-align: right;
}
.chartDesc{
	   float: right;
	   text-align: left;
	   width:  50%;
	   font-weight: bold;
	   padding: 0 1cm 0 1cm;
	   box-sizing: border-box;
}
.chartSelector:after {
	content:"";
	clear: both;
	display: block;
}

.advice select {
	width: 5.5em;
}

.chartDesc > div{display:none;font-weight: normal;}
.chartDesc[data-select=total] >div.total {display:block;}
.chartDesc[data-select=unrealized] >div.unrealized {display:block;}
.chartDesc[data-select=realized] >div.realized {display:block;}
.chartDesc[data-select=normalized] >div.normalized {display:block;}
.chartDesc[data-select=relative] >div.relative {display:block;}


