body {
	font-family: sans-serif;
	font-size: 12px;
	background-position:top center;
	background-repeat:no-repeat;
	background-size: 100% 500px;
}

button {
	
	
}

h2,h3 {
	text-align: center;
}
.select {
    display:flex;
    justify-content: center;
}
.listing .item {
	display:flex;
	flex-wrap:wrap;
    justify-content: center;
}

.listing .item > div {
	margin: 5px;
	text-align: center;
	box-sizing: border-box;
}


.buttonMenu {
	 align-self: flex-end;	
}

.listing .item > .date {
	width: 8em;
}
.listing .item > .price {
    width: 8em;
}
.listing .item > .assetChange {
    width: 8em;
}
.listing .item > .currencyChange {
    width: 8em;
}
.listing .item > .advice {
    width: 8em;
}
.listing .item > .earncost {
    width: 8em;
}
.listing .item > .relativepl {
    width: 8em;
}
.listing .item > .unrealizedpl {
    width: 8em;
}
.listing .item > .unrealizedplp {
    width: 8em;
}
.listing .item > .actions {
    width: 5em;
}
.listing .item > .actions button {
    width: 100%;
}

label {
	display:block;
	position:relative;
    width: 250px;
    margin: 5px;
	line-height:25px;
	 vertical-align: middle;
}

label > input,label > select {
	display: block;
	float: right;
	width: 100px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	
}

label > select {
	width: 150px;
}

.strategyPanel >.content{
	display:flex;
	flex-wrap:wrap;
    justify-content: center;

}

.strategyPanel  button{
	display:block;
	width: 120px;
	margin-left: 50px;
	  
	  
}

.listing .tableHeader {
	border-bottom: 1px solid;
	font-weight: bold;
	
}
.listing .tableFooter {
    border-top: 1px solid;
    font-weight: bold;
    
}

.listing .item input.ingrid {
	width:100%;
	box-sizing: border-box;
	text-align: center;
}

.listing .chkbox label {
	display:inline;
	box-sizing: border-box;
	text-align: center;
}

.listing .chkbox input {
	display:inline;
	width:auto;
	float:none;	
}

.smallNote {
	margin-top: 20px;
	font-size: smaller;
	font-style: italic;
	text-align: center;
}

.newDoc .listing {
	display:none;
}

.newDoc .buttld {
	display:none;
}

.strategyPanel  .buttnw {
	display:none;
}

  .newDoc .strategyPanel .buttnw {
	display: block;
}

.negnumb {
	color: #800000;
}
.posnumb {
	color: #008000;
}