body {
	font-family: sans-serif;
	font-size: 15px;
}

h2,h3 {
	text-align: center;
}
.select {
    display:flex;
    justify-content: center;
}
.listing .item {
	display:flex;
	flex-wrap:wrap;
    justify-content: center;
}

.listing .item > div {
	margin: 5px;
	text-align: center;
	box-sizing: border-box;
}



.listing .item > .date {
	width: 10em;
}
.listing .item > .price {
    width: 10em;
}
.listing .item > .assetChange {
    width: 10em;
}
.listing .item > .currencyChange {
    width: 10em;
}
.listing .item > .advice {
    width: 10em;
}
.listing .item > .earncost {
    width: 10em;
}
.listing .item > .relativepl {
    width: 10em;
}
.listing .item > .unrealizedpl {
    width: 10em;
}
.listing .item > .unrealizedplp {
    width: 10em;
}
.listing .item > .actions {
    width: 5em;
}
.listing .item > .actions button {
    width: 100%;
}

label {
	display:block;
	position:relative;
    width: 20em;
    margin: 5px;
	line-height:2;
	 vertical-align: middle;
}

label > input,label > select {
	display: block;
	float: right;
	width: 10em;
	text-align: center;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	
}


.strategyPanel >.content{
	display:flex;
	flex-wrap:wrap;
    justify-content: center;

}

.strategyPanel  button{
	max-height: 2em;
	  align-self: flex-end ;
	  margin-left: 5em;
}

.listing .tableHeader {
	border-bottom: 1px solid;
	font-weight: bold;
	
}
.listing .tableFooter {
    border-top: 1px solid;
    font-weight: bold;
    
}

.listing .item input.ingrid {
	width:100%;
	box-sizing: border-box;
	text-align: center;
}

.listing .chkbox label {
	display:inline;
	box-sizing: border-box;
	text-align: center;
}

.listing .chkbox input {
	display:inline;
	width:auto;
	float:none;	
}

.smallNote {
	margin-top: 20px;
	font-size: smaller;
	font-style: italic;
}